$border-radius:               8px !default;
$border-radius-lg:            8px !default;
$border-radius-sm:            8px !default;

$card-spacer-y: 24px !default;
$card-spacer-x: 32px !default;

$grid-gutter-width:           24px !default;

$track-color: #2EB670 !default;
$thumb-color: #2EB670 !default;

$thumb-radius: 9.5px !default;
$thumb-height: 19px !default;
$thumb-width: 19px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 0px !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 3px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 0px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;



//Bootstrap styles 
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/input-range-scss/inputrange";
//@import "node_modules/input-range-scss/inputrange";
//@import "components/inputrange";



//Custom mixins
@import "mixins/mixins";

//Custom settings --
@import "settings";

//Component specific styles 
@import "components/callout";
@import "components/global";
