$green: #00A651;
$border-radius: 8px;
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #F7F7F7;
    color: #2F2F30;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    @media (min-width: 1300px) {
        max-width: 1248px;
    }
}

.card {
    box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
    margin-bottom: 24px;
}

.card-body {
    padding: 28px $card-spacer-x;
    padding-top: 26px;
    @media (max-width: 575.98px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.card-header {}

.card-footer {
    @media (max-width: 575.98px) { 
        padding-left: 24px;
        padding-right: 24px;
    }
}

.copy-btn {
    width: 18px;
    height: 18px;
    background-image: url(../img/copy.svg);
    display: inline-block;
    cursor: pointer;
    vertical-align: sub;
}

.details {
    .card-body {
        padding-top: 22px;
        padding-bottom: 24px;
    }
    .card-footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__des {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        //        padding-left: 26px;
        position: relative;
        &:before {
            content: '';
            width: 18px;
            height: 18px;
            display: inline-block;
            background-image: url(../img/dollar-sign.svg);
            margin-right: 8px;
            vertical-align: middle;
            margin-top: -1px;
        }
    }
    &__summary {
        font-size: 16px;
        line-height: 24px;
        /* gray-80 */
        color: #6C6D6F;
        margin-top: 3px;
        span {
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height, or 133% */
            /* Focused (logo color) */
            color: $green;
            margin-right: 3px;
        }
    }
    &__id {
        font-family: 'Source Code Pro', monospace;
        margin-right: -2px;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 575.98px) {
            display: flex;
        }
        
        &__title {
            text-transform: uppercase;
        }
        &__value {
            line-height: 26px;
            @media (max-width: 575.98px) {
                line-height: 24px;
                margin-left: 12px;
            }
        }
    }
    &__info {
        &__item {
            font-size: 16px;
            line-height: 26px;
            padding-left: 32px;
            padding-right: 32px;
            @media (min-width: 768px) {
                border-right: 1px solid #D7D8DA;
                
            }
            
            @media (max-width: 575.98px) {
                display: flex;
                padding-left: 0;
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
                padding-right: 34px;
                @media (max-width: 575.98px) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
                padding-left: 30px;
                @media (max-width: 575.98px) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &__title {
                font-size: 14px;
                line-height: 21px;
                /* identical to box height, or 143% */
                /* gray-80 */
                color: #6C6D6F;
                @media (max-width: 575.98px) {
                    width: 100px;
                    padding-right: 12px;
                }
            }
            a {
                color: #6665DD;
                text-decoration-line: underline;
            }
            &__status {
                &.success {
                    color: $green;
                    &:before {
                        content: '';
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        background-image: url(../img/check.svg);
                        margin-right: 8px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.nav-tabs {
    //    margin-left: -32px;
    //    margin-right: -32px;
    padding-left: 24px;
    padding-right: 24px;
    .nav-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2F2F30;
        padding-top: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 13px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        &.active {
            color: $green;
        }
    }
}

.tab-content>.tab-pane {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 575.98px) {
        padding-left: 0;
        padding-right: 0;
    }
    .form-group {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 24px;
        @media (max-width: 575.98px) {
        padding-left: 12px;
    padding-right: 12px;
            display: block;
    }
        label:first-child {
            width: 124px;
            text-align: right;
            margin-right: 16px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            
            @media (max-width: 575.98px) {
                width: auto;
                display: block;
                text-align: left;
                margin-bottom: 6px;
                line-height: 40px;
            }
            
        }
        &.input-group {
            label:first-child {
                line-height: 40px;
            }
        }
        &.range-group {
            //            margin-bottom: 18px;
            label,
            output {
                line-height: 24px;
                margin-bottom: 0;
            }
            @media (max-width: 575.98px) {
                &>div{
                    display: inline-block;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

a.list-group-item {
    color: #2F2F30;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 26px;
    &>img {
        vertical-align: text-top;
        margin-right: 1px;
    }
    &.active {
        background: #F3F3F3;
    }
    &:hover {
        background: #F3F3F3;
        transition: .3s;
        text-decoration: none;
    }
}

.has-search {
    input {
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: 14px center;
        padding-left: 40px;
    }
}

.search-plate {
    padding-top: 16px;
    padding-bottom: 16px;
    .has-search {
        @media (min-width: 768px) {
        width: 336px;
            margin-right: 28px;
        }
        margin-bottom: 0;
    }
    .input-group {
        width: 138px;
    }
}

.card-footer-yellow {
    background: #FFFBEC;
}

main {
    padding-top: 53px;
}

h4 {
    &.card-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
    }
}

.sidebar-menu {
    
    @media (min-width: 992px) {
        max-width: 288px;
    }
    .card {
        top: 24px;
        position: sticky;
        z-index: 1020;
    }
}

.tabs {
    .card-body {
        padding-top: 31px;
        padding-bottom: 40px;
        //        min-width: 640px;
    }
    .card-footer {
        .btn {
            margin-right: 10px;
        }
    }
    // Responsive Bootstrap Tabs without JS
    .tabbable-responsive {
        display: block;
        min-width: 100%;
        overflow-x: auto;
        // Some tweaks for card-header
        //  margin: 0px -21px -13px -21px;
        margin-left: -32px;
        margin-right: -32px;
        @media (max-width: 575.98px) {
            margin-left: -24px;
        margin-right: -24px;
        }
    }
    .tabbable {
        min-width: 100%;
        .nav-tabs {
            white-space: nowrap;
            display: inline-block;
            min-width: 100%;
            // Some tweaks for card-header
            //      padding: 0px 21px;
            .nav-item {
                display: inline-block;
                &:not(:first-child) {
                    margin-left: -5px;
                }
                .nav-link {
                    display: inline-block;
                }
            }
        }
    }
}

.custom-select {
    background-image: url(../img/arr-down.svg);
    background-size: 24px;
    width: auto;
    border-radius: 6px !important;
    line-height: 24px;
    height: calc(1.5em + 0.75rem + 3px);
    background-position: right 0.2rem center;
    &.full-select {
        width: 296px;
        flex: none;
        @media (max-width: 575.98px) {
            width: 100%;
        }
    }
    &.clear-select {
        border: none;
        background-color: transparent;
        appearance: none;
        background-position: right 0.75rem center;
    }
}

.form-control {
    border-radius: 6px;
    line-height: 24px;
    height: calc(1.5em + 0.75rem + 3px);
}

.currency-group {
    .currency-input {
        width: 192px;
        margin-right: 24px;
        @media (max-width: 575.98px) {
//            margin-right: 12px;
            width: 167px;
        }
    }
    .currency-select {
        width: 80px;
    }
    @media (max-width: 575.98px) {
        &>div{
            display: inline-block;
        }
    }
}

input[type="checkbox"] {
    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    &:checked + label,
    &:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 36px;
        line-height: 20px;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 24px;
            height: 24px;
            border: 1px solid #A9ABAE;
            background-color: #ffffff;
            border-radius: 4px;
        }
        &:after {
            content: "";
            position: absolute;
            transition: all 0.2s ease;
            background-image: url(../img/checkbox.svg);
            background-repeat: no-repeat;
            background-position: center;
            left: 0px;
            top: 0px;
            width: 24px;
            height: 24px;
        }
    }
    &:checked + label:after {
        opacity: 1;
    }
    &:not(:checked) + label:after {
        opacity: 0;
    }
    &:checked + label:before {
        border-width: 2px;
        border-color: $green;
    }
}

input[type="radio"] {
    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    &:checked + label,
    &:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 36px;
        line-height: 20px;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: -2px;
            width: 24px;
            height: 24px;
            border: 1px solid #A9ABAE;
            background-color: #ffffff;
            border-radius: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            transition: all 0.2s ease;
            left: 6px;
            top: 4px;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: $green;
        }
    }
    &:checked + label:before {
        border-width: 2px;
        border-color: $green;
    }
    &:checked + label:after {
        opacity: 1;
    }
    &:not(:checked) + label:after {
        opacity: 0;
    }
}

.form-check {
    padding-left: 0;
    margin-bottom: 16px;
    &:last-child {
        margin-top: 24px;
        margin-bottom: 8px;
        input[type=checkbox]:checked+label,
        input[type=checkbox]:not(:checked)+label {
            line-height: 24px;
        }
    }
}

.range-group {
    //    margin-top: 10px;
}

.btn {
    font-size: 16px;
    line-height: 22px;
    color: #2F2F30;
    padding: 12px 23px;
    background: #FFFFFF;
    /* gray-70 */
    border: 1px solid #A9ABAE;
    box-sizing: border-box;
    border-radius: 8px;
    &.btn-primary {
        background: #2EB670;
        color: #fff;
        border-radius: 6px;
        border-color: $green;
    }
}

.list-group {
	@media (min-width: 768px) and (max-width: 991.98px) {
//        flex-direction: row;
        .list-group-item{
//            white-space: nowrap;
        }
    }
}